<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="classpath:/application-${spring.profiles.active}.properties" />

    <context:component-scan base-package="com.mttch.admin.server" />

    <context:annotation-config />

    <bean id="loginService" class="com.mttch.admin.server.service.LoginServiceImpl"/>
    <bean id="userService" class="com.mttch.admin.server.service.UserServiceImpl"/>
    <bean id="administratorService" class="com.mttch.admin.server.service.AdministratorServiceImpl"/>
    <bean id="logService" class="com.mttch.admin.server.service.LogServiceImpl"/>
    <bean id="mailboxService" class="com.mttch.admin.server.service.MailboxServiceImpl"/>
    <bean id="xmppService" class="com.mttch.admin.server.service.XmppServiceImpl"/>

    <bean id="sessionManager" class="com.mttch.admin.server.session.SessionManager"/>

    <util:map id="serviceURLMapper" key-type="java.lang.String" value-type="com.google.gwt.user.client.rpc.RemoteService">
        <entry key="/loginService" value-ref="loginService"/>
        <entry key="/userService" value-ref="userService"/>
        <entry key="/administratorService" value-ref="administratorService"/>
        <entry key="/logService" value-ref="logService"/>
        <entry key="/mailboxService" value-ref="mailboxService"/>
        <entry key="/xmppService" value-ref="xmppService"/>
    </util:map>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${app.db.driver}"/>
        <property name="url" value="${app.db.url}"/>
        <property name="username" value="${app.db.username}"/>
        <property name="password" value="${app.db.password}"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <tx:annotation-driven />

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="typeAliasesPackage" value="com.mttch.admin.server.mybatis.entity" />
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.mttch.admin.server.mybatis.mapper" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>

</beans>